<div id="<%= dom_id action %>" class="flex justify-between border rounded mt-4 p-4">
  <p>
    <strong>Klass:</strong>
    <%= action.klass %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= action.action %>
  </p>
</div>
